<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Field.Template.Json.Path" value="..\..\..\Database\FieldTemplate.json"/>
    <add key="Database.Path" value="..\..\..\Database\Datenbank.mdb"/>
    <add key="FAQ.Text.Path" value="..\..\..\Database\FAQ.txt"/>
  </appSettings>
</configuration>